autopep8==1.5.7
Django==3.2.8
django-cors-headers==3.10.0
djangorestframework==3.12.4
psycopg2==2.9.1
psycopg2-binary==2.9.1
sqlparse==0.4.2
phonenumbers==8.12.35
django-phonenumber-field==5.2.0
django-money==2.1
py-moneyed==1.2
google-api-core==2.2.1
google-api-python-client==2.28.0
google-auth==2.3.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.53.0
gunicorn==20.0.4
