/* colors:
#41c1ba
#365b6d
#f7f7f7
*/

.text-rescot {
  color: #41c1ba !important;
}

.btn-rescot {
  background-color: #41c1ba;
  color: #f7f7f7;
}

.btn-rescot:hover {
  background-color: #365b6d;
  color: #41c1ba;
}
.first-text {
  color: #365b6d;
}
.second-text {
  color: #41c1ba;
}

#header img {
  width: 150px;
}

#main {
  background-color: #cfedfc;
}
#main img {
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(0%);
}
#main .darkColor {
  color: #365b6d;
  font-size: 54px;
}
#main .BlueColor {
  color: #41c1ba;
}
.third-text {
  color: #7d94ab;
}
/*features*/

#features {
  background-color: #f7f7f7;
}

#features .card {
  background-color: #f7f7f7;
}
/*motivacion*/

/*footer*/
#footer {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
  color: white;
}

/*#team {
  background-color: #365b6d;
}*/

.card {
  border: 0;
}

#bootstrap {
  background-color: #553c7b !important;
}

/*quotation*/

.btn-outline-rescot {
  background-color: none;
  border-color: #41c1ba;
  color: #41c1ba;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
}
.btn-outline-rescot:hover {
  background-color: #41c1ba;
  color: #365b6d;
  border-bottom: 0px;
  border-radius: 5px;
}
#main-quotation img {
  max-height: 100vh;
  object-fit: cover;
  filter: grayscale(30%);
}

#main-quotation {
  position: relative;
}

#main-quotation .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #41c1bb57;
  color: white;
}

#main-quotation .overlay .container,
#main-quotation .overlay .row {
  height: 100%;
}

#main-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-quotation {
  position: absolute;
  background-color: #365b6d8f;
  width: 120px;
}

#body-quotation {
  background-image: url("../images/fondo-cotizacion.png");
  background-repeat: no-repeat;
  background-size: auto;
}

#card-quotation {
  background-color: #f7f7f7b6;
}

#card-quotation input,
#card-quotation select,
#card-quotation textarea {
  box-shadow: 0 0 10px 0 #41c1ba;
  background-color: #ffffffc9;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

#card-quotation label {
  font-size: small;
  color: #365b6d;
  font-style: italic;
  font-weight: 500;
}

#card-quotation h6 {
  font-size: larger;
  color: #4e5355;
}
#card-quotation h1 {
  color: #4e5355;
}

#quoteResult {
  background-color: #1c364357;
  border-radius: 0 15px 0 15px;
}
